//
// Global footer
//
.footer__wrap {
    @include padding-t();
    border-top:1px solid rgba($palette-body, .35);
}
.social-media__list {
    display:flex;
}
.social-media__item {
    @include center-content();
    flex-grow:1;
    list-style:none outside;
}