//
// Global footer
//
.footer__wrap {
    @include margin-t-lg();
    @include padding-t();
    border-top:1px solid rgba($palette-body, .35);
}
.social-media__list {
    display:flex;
}
.social-media__item {
    @include center-content();
    flex-grow:1;
    list-style:none outside;
}
.footer__address-item {

    &::after {
        content:', ';
    }

    &:last-of-type::after {
        content:'';
    }

    &:first-of-type,
    &:last-of-type {
        display:block;
    }

    @include bp($switch-layout) {
        @include padding-y(3px);
        display:block;
    }

}