//
// Header
//
.header--global {
    background:$palette-body;
    border-top:$spacing-sm solid $palette-accent-primary;
    border-bottom:$spacing-sm solid $palette-accent-primary;
    min-height:$global-header-height;

    .grid__wrap {
        position:relative;
    }

    @include bp($switch-layout) {
        border-width:$spacing;
    }

}
.logo__wrap {
    margin-top:$spacing-sm * 1.5;
    margin-bottom:0;
}
.logo__img {
    height:($global-header-height - pxToEm($spacing-xlg));
    width:auto;
}