//
// Main nav
//
.main-nav__list,
.sub-nav__list {
    
    @include bp($switch-layout) {
        display:flex;
    }

}
.main-nav__item,
.sub-nav__item {
    display:inline;
    line-height:1em;
    list-style:none outside;
    padding-bottom:0;

    @include bp($switch-layout) {
        flex-grow:1;
    }
}
.main-nav__link,
.sub-nav__link {
    color:$palette-accent-primary;
}