//
// Main nav
//
.main-nav {
    @include margin-t();
}
.main-nav__list,
.sub-nav__list {
    
    @include bp($switch-layout) {
        display:flex;
    }

}
.main-nav__item,
.sub-nav__item {
    display:inline;
    line-height:1em;
    list-style:none outside;
    padding-bottom:0;

    @include bp($switch-layout) {
        flex-grow:1;
    }
}
.main-nav__link,
.sub-nav__link {
    @include padding-y();
    @include padding-x($spacing-sm);
    color:$palette-accent-primary;
    display:block;
    text-decoration:none;
}
.main-nav__link {
    @include strong();
    background:rgba($palette-accent-primary, .15);
}
.sub-nav__link {
    @include padding-x($spacing-lg);
    background:rgba($palette-accent-primary, .05);
}
.main-nav__toggle {
    @include position-tr(($spacing * 1.5), $spacing);
    color:$palette-accent-primary;
    display:inline-block;

    &:hover,
    &:focus {
        color:$palette-accent-primary;
    }

    @include bp($switch-layout) {
        @include hidden();
    }

}