//
// Player
//
.players-list {

    @include bp($bp-2) {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

}
.player {
    @include margin-b-lg();
    background:rgba($palette-accent-primary, .75);
    height:200px;

    @include bp($bp-2) {
        @include margin-x($spacing-lg, 0);
        width:47%;
    }

    @include bp($bp-tab-p) {
        width:20%;
    }

}
.player:nth-of-type(2n) {
 
    @include bp($bp-2) {
        margin-right:0;
    }

    @include bp($bp-tab-p) {
        @include margin-x($spacing-lg, 0);
    }

}
.player:nth-of-type(4n) {
 
    @include bp($bp-tab-p) {
        margin-right:0;
    }

}
[class*="player__"] {
    display:block;
}
.player__number {
    @include strong();
    color:rgba($palette-body, .5);
    font-size:pxToEm($base-font-size * 2.2);
}
.player__name {
    @include strong();
}