//
// Player
//
.players-list {

    @include bp($bp-2) {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

}
.player {
    @include margin-b-lg();
    background:rgba($palette-accent-primary, .75);
    display:flex;
    height:225px;
    position:relative;

    @include bp($bp-2) {
        @include margin-x($spacing-lg, 0);
        width:47%;
    }

    @include bp($bp-tab-p) {
        width:20%;
    }

}
.player:nth-of-type(2n) {
 
    @include bp($bp-2) {
        margin-right:0;
    }

    @include bp($bp-tab-p) {
        @include margin-x($spacing-lg, 0);
    }

}
.player:nth-of-type(4n) {
 
    @include bp($bp-tab-p) {
        margin-right:0;
    }

}
.player__img {
    height:225px;
    width:auto;
}
.player__info {
    @include box-shadow(3px, 5px, 0, #000);
    @include full-width();
    @include padding-sm();
    background:#fff;
    color:$palette-accent-primary;

    @include bp($bp-2) {
        @include position-bl();
    }

}
[class*="player__"] {
    display:block;
}
.player__link {
    @include full-width();
    color:$palette-accent-primary;
    text-decoration:none;
}
.player__number {
    @include margin-b-sm();
    @include strong();
    color:rgba($palette-accent-primary, .35);
    font-size:pxToEm($base-font-size * 2.2);
}
.player__name {
    @include strong();
    font-size:pxToEm($base-font-size * 1.2);
    // @include bp($bp-2) {
    //     @include margin-x(0, -$spacing);
    // }

}
.player__position {
    color:rgba($palette-accent-primary, .65);
    font-family:$font-sans;
    font-size:pxToEm($base-font-size * 0.9);
    // text-align:right;
}